/* .App {
  text-align: center;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .container {
  height: 80%;
} */

.add-task {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  overflow: auto;
  align-items: center;
  text-align: flex-start;
  margin: 30px auto;
  border: 1px solid steelblue;
}

.btn > button {
  background: #000;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  color: white;
  font-size: 15px;
}

.input-field {
  display: flex;
  margin: 20px 0 20px 0;
  text-align: flex-start;
}

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
