/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  height: 80%;
}

/* 
.one {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}
.two {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}
.three {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}
.four {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}
.five {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}
.six {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}
.seven {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}
.eight {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}
.nine {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}

.ten {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}

.eleven {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}

.twelve {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}

.thirteen {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}

.fourteen {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}

.fifteen {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}

.sixteen {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}
.seventeen {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}

.eighteen {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}

.nineteen {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}

.twenty {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
}

.twenty-one {
  background-color: red;
  height: 140px;
  width: 140px;
  border: 2px solid #000;
}

.twenty-two {
  background-color: black;
  height: 140px;
  width: 140px;
  border: 2px solid red;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
